<!-- Slider Container: relative, ok butonları için -->
<div class="relative mt-4">
    <!-- Scrollable alan: overflow-x-auto, scroll-smooth -->
    <div id="matchWeekSlider_MatchWeekViewComponentPartial" class="overflow-x-auto no-scrollbar scroll-smooth">
        <div class="flex space-x-8 w-max mx-auto">

            <!-- Kart 1 -->
            <div class="w-[80vw] md:w-[345px] card_MatchWeekViewComponentPartial flex-shrink-0 mt-4">
                <div class="relative h-[350px] bg-cover bg-center rounded-lg overflow-hidden">
                    <!-- Overlay -->
                    <div class="absolute inset-0 bg-white/20 p-4 border border-white/30"></div>
                    <div class="relative p-6 z-10 h-full flex flex-col">
                        <!-- Kart Başlığı -->
                        <div class="mb-4 text-center">
                            <h3 class="text-white text-xl font-bold mb-1">Trendyol Süper Lig</h3>

                            <p class="text-gray-200 text-sm">Cuma 20:00</p>
                        </div>
                        <!-- Takımlar -->
                        <div class="flex-1 flex flex-col justify-center">
                            <div class="grid grid-cols-2 gap-4 text-center">
                                <div class="space-y-2">
                                    <img src="/images/teamLogos/Antalyaspor.webp" alt="Antalyaspor" loading="lazy" class="w-full max-w-[120px] mx-auto object-contain h-24">
                                    <span class="block text-white font-medium">Antalyaspor</span>
                                </div>
                                <div class="space-y-2">
                                    <img src="/images/teamLogos/Trabzonspor.webp" alt="Trabzonspor" loading="lazy" class="w-full max-w-[120px] mx-auto object-contain h-24">
                                    <span class="block text-white font-medium">Trabzonspor</span>
                                </div>
                            </div>
                        </div>
                        <!-- Buton -->
                        <a class="mt-4 block w-full bg-red-600 hover:bg-red-700 text-white text-center py-3 rounded-lg transition-colors" href="/secim">
                            SATIN AL ANINDA İZLE
                        </a>
                    </div>
                </div>
            </div>
            <!-- Kart 1 -->
            <div class="w-[80vw] md:w-[345px] card_MatchWeekViewComponentPartial flex-shrink-0 mt-4">
                <div class="relative h-[350px] bg-cover bg-center rounded-lg overflow-hidden">
                    <!-- Overlay -->
                    <div class="absolute inset-0 bg-white/20 p-4 border border-white/30"></div>
                    <div class="relative p-6 z-10 h-full flex flex-col">
                        <!-- Kart Başlığı -->
                        <div class="mb-4 text-center">
                            <h3 class="text-white text-xl font-bold mb-1">Trendyol Süper Lig</h3>

                            <p class="text-gray-200 text-sm">Cuma 20:00</p>
                        </div>
                        <!-- Takımlar -->
                        <div class="flex-1 flex flex-col justify-center">
                            <div class="grid grid-cols-2 gap-4 text-center">
                                <div class="space-y-2">
                                    <img src="/images/teamLogos/Galatasaray.webp" alt="Galatasaray" loading="lazy" class="w-full max-w-[120px] mx-auto object-contain h-24">
                                    <span class="block text-white font-medium">Galatasaray</span>
                                </div>
                                <div class="space-y-2">
                                    <img src="/images/teamLogos/Ba&#x15F;ak&#x15F;ehir.webp" alt="Ba&#x15F;ak&#x15F;ehir" loading="lazy" class="w-full max-w-[120px] mx-auto object-contain h-24">
                                    <span class="block text-white font-medium">Ba&#x15F;ak&#x15F;ehir</span>
                                </div>
                            </div>
                        </div>
                        <!-- Buton -->
                        <a class="mt-4 block w-full bg-red-600 hover:bg-red-700 text-white text-center py-3 rounded-lg transition-colors" href="/secim">
                            SATIN AL ANINDA İZLE
                        </a>
                    </div>
                </div>
            </div>
            <!-- Kart 1 -->
            <div class="w-[80vw] md:w-[345px] card_MatchWeekViewComponentPartial flex-shrink-0 mt-4">
                <div class="relative h-[350px] bg-cover bg-center rounded-lg overflow-hidden">
                    <!-- Overlay -->
                    <div class="absolute inset-0 bg-white/20 p-4 border border-white/30"></div>
                    <div class="relative p-6 z-10 h-full flex flex-col">
                        <!-- Kart Başlığı -->
                        <div class="mb-4 text-center">
                            <h3 class="text-white text-xl font-bold mb-1">Trendyol Süper Lig</h3>

                            <p class="text-gray-200 text-sm">Cumartesi 16:00</p>
                        </div>
                        <!-- Takımlar -->
                        <div class="flex-1 flex flex-col justify-center">
                            <div class="grid grid-cols-2 gap-4 text-center">
                                <div class="space-y-2">
                                    <img src="/images/teamLogos/Fenerbah&#xE7;e.webp" alt="Fenerbah&#xE7;e" loading="lazy" class="w-full max-w-[120px] mx-auto object-contain h-24">
                                    <span class="block text-white font-medium">Fenerbah&#xE7;e</span>
                                </div>
                                <div class="space-y-2">
                                    <img src="/images/teamLogos/Konyaspor.webp" alt="Konyaspor" loading="lazy" class="w-full max-w-[120px] mx-auto object-contain h-24">
                                    <span class="block text-white font-medium">Konyaspor</span>
                                </div>
                            </div>
                        </div>
                        <!-- Buton -->
                        <a class="mt-4 block w-full bg-red-600 hover:bg-red-700 text-white text-center py-3 rounded-lg transition-colors" href="/secim">
                            SATIN AL ANINDA İZLE
                        </a>
                    </div>
                </div>
            </div>
            <!-- Kart 1 -->
            <div class="w-[80vw] md:w-[345px] card_MatchWeekViewComponentPartial flex-shrink-0 mt-4">
                <div class="relative h-[350px] bg-cover bg-center rounded-lg overflow-hidden">
                    <!-- Overlay -->
                    <div class="absolute inset-0 bg-white/20 p-4 border border-white/30"></div>
                    <div class="relative p-6 z-10 h-full flex flex-col">
                        <!-- Kart Başlığı -->
                        <div class="mb-4 text-center">
                            <h3 class="text-white text-xl font-bold mb-1">Trendyol Süper Lig</h3>

                            <p class="text-gray-200 text-sm">Pazar 19:00</p>
                        </div>
                        <!-- Takımlar -->
                        <div class="flex-1 flex flex-col justify-center">
                            <div class="grid grid-cols-2 gap-4 text-center">
                                <div class="space-y-2">
                                    <img src="/images/teamLogos/Bodrumspor.webp" alt="Bodrumspor" loading="lazy" class="w-full max-w-[120px] mx-auto object-contain h-24">
                                    <span class="block text-white font-medium">Bodrumspor</span>
                                </div>
                                <div class="space-y-2">
                                    <img src="/images/teamLogos/Be&#x15F;ikta&#x15F;.webp" alt="Be&#x15F;ikta&#x15F;" loading="lazy" class="w-full max-w-[120px] mx-auto object-contain h-24">
                                    <span class="block text-white font-medium">Be&#x15F;ikta&#x15F;</span>
                                </div>
                            </div>
                        </div>
                        <!-- Buton -->
                        <a class="mt-4 block w-full bg-red-600 hover:bg-red-700 text-white text-center py-3 rounded-lg transition-colors" href="/secim">
                            SATIN AL ANINDA İZLE
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Mobilde ok butonları: md'den küçük ekranlarda görünür -->
    <button id="sliderLeftBtn_MatchWeekViewComponentPartial" class="absolute z-20 left-0 top-1/2 transform -translate-y-1/2 border border-white/70 text-white rounded-full p-2 hover:bg-white hover:text-gray-800 transition duration-200 block md:hidden" aria-label="Mobil Buton">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
    </button>
    <button id="sliderRightBtn_MatchWeekViewComponentPartial" class="absolute z-20 right-0 top-1/2 transform -translate-y-1/2 border border-white/70 text-white rounded-full p-2 hover:bg-white hover:text-gray-800 transition duration-200 block md:hidden" aria-label="Mobile Buton">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
    </button>

</div>